.post {
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex-grow: 1;
    padding: 1em;
    @media(min-width: 600px) {
        flex-basis: 50%;
        max-width: 50%;
    }
    @media(min-width: 900px) {
        flex-basis: calc(100% / 3);
        max-width: calc(100% / 3);
    }
}

.post__image {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}

.post__names {}

.post__date {}

.post__location {}
